<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>Sessions</title>
 </head>
 <body>
     <p>What would you like to do?</p>
     <ul><li>
         <p> "Codable HTTP Basic authentication: Username = username, Password = password" </p>
         <button onclick="location.href='/basic'" type="button">
         GET &quot;/basic&quot;
         </button>
     </li></ul>
     <ul><li>
         <p> "Raw HTTP Basic authentication: Username = username, Password = password" </p>
         <button onclick="location.href='/rawbasic'" type="button">
         GET &quot;/rawbasic&quot;
         </button>
     </li></ul>
 </body>
</html>
